.group-2073 {
  color: #3b849c;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 1px;
  padding-bottom: 1px;
  font-family: Lato, Arial;
  font-size: 1rem;
  font-weight: 400;
  line-height: 19px;
  display: flex;
}

.displaying-page-1-of {
  color: #2c2c2c;
  margin-top: 2px;
  margin-right: 213px;
}

.content {
  text-align: center;
  color: #fff;
  height: 70%;
  background-color: #3b849c;
  border-radius: 4px;
  flex-direction: row;
  flex-basis: 2%;
  justify-content: center;
  align-items: center;
  margin-left: 75px;
  padding-top: 1px;
  display: flex;

}

.page, .page-1 {
  text-align: center;
  margin-top: 1px;
}

.yqfhhbvaudihs {
  text-align: center;
  margin-top: 4px;
  font-size: .813rem;
  font-weight: 500;
  line-height: 16px;
}

.page-2, .page-3, .page-4 {
  text-align: center;
  margin-top: 1px;
}

.go-to-page {
  color: #2c2c2c;
  margin-top: 2px;
  margin-left: 360px;
}

.assets-input {
  height: 70%;
  background-color: #fff;
  border: 1px solid #919aa9;
  border-radius: 4px;
  flex-direction: row;
  flex-basis: 3%;
  justify-content: space-around;
  align-items: center;
  padding-top: 1px;
  display: flex;
}

.text-instance-1 {
  height: 55%;
  flex-basis: 20%;
}

.icon {
  width: 4px;
  height: 8px;
  object-fit: cover;
  border: 2px solid #6c7a8a;
  margin-bottom: 1px;
}
